<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xlink">
<head>
    <meta charset="UTF-8">
    <title>🤖 Robot Script Interpreter</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<form method="post" action="/run-script">
    <textarea name="script" hidden>
POSITION 1 3 EAST //sets the initial position for the robot
FORWARD 3 //lets the robot do 3 steps forward
WAIT //lets the robot do nothing
TURNAROUND //lets the robot turn around
FORWARD 1 //lets the robot do 1 step forward
RIGHT //lets the robot turn right
FORWARD 2 //lets the robot do 2 steps forward
    </textarea>
    <button type="submit">Submit Script</button>
</form>

<div class="field" th:if="${robot}">
    <div class="field-row" th:each="row : ${#numbers.sequence(0, 4)}">
        <div class="field-cell" th:each="column : ${#numbers.sequence(0, 4)}">
            <div class="robot" th:if="${row == robot.y && column == robot.x}"
                 th:switch="${robot.direction}">
                <span th:case="${T(petrglad.idealo.Direction).EAST}">→</span>
                <span th:case="${T(petrglad.idealo.Direction).SOUTH}">↓</span>
                <span th:case="${T(petrglad.idealo.Direction).WEST}">←</span>
                <span th:case="${T(petrglad.idealo.Direction).NORTH}">↑</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>